<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OfferBazaar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admin_Login</display-name>
    <servlet-name>admin_Login</servlet-name>
    <servlet-class>beckend.admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_Login</servlet-name>
    <url-pattern>/admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_Registraction</display-name>
    <servlet-name>user_Registraction</servlet-name>
    <servlet-class>beckend.user_Registraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_Registraction</servlet-name>
    <url-pattern>/user_Registraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_Login</display-name>
    <servlet-name>user_Login</servlet-name>
    <servlet-class>beckend.user_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_Login</servlet-name>
    <url-pattern>/user_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>advertiser_Registration</display-name>
    <servlet-name>advertiser_Registration</servlet-name>
    <servlet-class>beckend.advertiser_Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advertiser_Registration</servlet-name>
    <url-pattern>/advertiser_Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_Registration</display-name>
    <servlet-name>user_Registration</servlet-name>
    <servlet-class>beckend.user_Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_Registration</servlet-name>
    <url-pattern>/user_Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>advertiser_Login</display-name>
    <servlet-name>advertiser_Login</servlet-name>
    <servlet-class>beckend.advertiser_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advertiser_Login</servlet-name>
    <url-pattern>/advertiser_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>advertiserNewOffer</display-name>
    <servlet-name>advertiserNewOffer</servlet-name>
    <servlet-class>beckend.advertiserNewOffer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advertiserNewOffer</servlet-name>
    <url-pattern>/advertiserNewOffer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfferDelete</display-name>
    <servlet-name>OfferDelete</servlet-name>
    <servlet-class>beckend.OfferDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfferDelete</servlet-name>
    <url-pattern>/OfferDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>offerDelete</display-name>
    <servlet-name>offerDelete</servlet-name>
    <servlet-class>beckend.offerDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>offerDelete</servlet-name>
    <url-pattern>/offerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userRegistration</display-name>
    <servlet-name>userRegistration</servlet-name>
    <servlet-class>beckend.userRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegistration</servlet-name>
    <url-pattern>/userRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userForgetPass</display-name>
    <servlet-name>userForgetPass</servlet-name>
    <servlet-class>beckend.userForgetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userForgetPass</servlet-name>
    <url-pattern>/userForgetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>advertiserForgetPass</display-name>
    <servlet-name>advertiserForgetPass</servlet-name>
    <servlet-class>beckend.advertiserForgetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advertiserForgetPass</servlet-name>
    <url-pattern>/advertiserForgetPass</url-pattern>
  </servlet-mapping>
</web-app>